@charset "utf-8";

/* gamenn ookiiyatsu */

body {
  background: rgb(206, 255, 217);
  padding: 80px 8px 16px;
}

.icon {
  border-radius: 50%;
}

.profile {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

main {
  min-width: 500px;
  max-width: 880px;
  padding: 48px;
  background: white;
  box-shadow: 0 0 8px;
  border-radius: 8px;
  margin: 0 auto;
}

h1 {
  margin: 64px auto 0;
}

.name {
  text-align: center;
}

.name h1 {
  margin-bottom: 8px;
}

small {
  color: #aaa;
  text-align: center;
}

main p {
  text-align: center;
}

a {
  all: unset;
  display: block;
  margin: 32px auto 0;
  width: 450px;
  box-shadow: 0 0 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

a:hover {
  transform: translateY(-6px);
  transition-duration: 200ms;
}

address img {
  padding: 8px;
} 

.rinnku {
  display: flex;
}

.bunnshou {
  align-self: center;
}

address {
  display: flex;
  gap: 32px;
}

h2 {
  border-bottom: 2px solid black;
}

.many-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.shou {
  display: none;
}

/* gamenn chiisai yatsu */

@media (max-width: 770px) {
  body {
    background: rgb(252, 196, 176);
    padding: 80px 4px 16px;
  }

  main {
    min-width: 270px;
    max-width: 308px;
    margin: 0 auto;
  }

  a {
    margin: 8px auto 0;
    width: 250px;
    padding: 2px;
  }

  address {
    flex-direction: column;
  }

  .shou {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .dai {
    display: none;
  }
}
